@model GrievanceSystem_Mvc.ViewModels.EditUserPasswordViewModel


@{
	Layout = null;

}
<div class="row mt-5 justify-content-center">
	<div class="col-md-8">

		@using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { id = "RegistrationForm" }))
		{
			@Html.AntiForgeryToken()

			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.UserId)

			<div class="form-group">
				@Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { id = "", @class = "control-label col-md" })
				<div class="col-md">
					@Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", @readonly = "true" })
					@Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md" })
				<div class="col-md">
					@Html.PasswordFor(model => model.Password, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.Password, "", new { id = "", @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md" })
				<div class="col-md">
					@Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
				</div>
			</div>


			<p class="col-md mb-3 text-center mt-4 ">
				<input type="submit" value="Update Password" class="btn btn-info shadow-none">
			</p>
		}
	</div>
</div>
