@model GrievanceSystem_Mvc.ViewModels.GrievanceViewModel



@{
	Layout = null;
}
<div class="row mt-5 pt-5 justify-content-center">
	<div class="col-md-8">

		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.GrievanceID)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.GrievanceID)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.ReportedDate)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ReportedDate)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Subject)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Subject)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Description)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Description)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Image)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Image)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Category)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Category)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Subcategory)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Subcategory)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Status)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Status)
			</dd>

		</dl>

	</div>
</div>
