@model GrievanceSystem_Mvc.ViewModels.EditUserViewModel

@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container card my-4 container-height">
	<div class="row p-3">
		<div class="col-md-12">
			<span class="h5"><strong>Edit Profile</strong></span>
			<a href="@Url.Action("ChangePassword","Account") " class="btn btn-outline-secondary rounded-pill float-right">
				<span class="px-3 font-weight-bold">
					Change Password
				</span>
			</a>
		</div>
	</div>
	<hr class="m-0" />
	<div class="row p-4 mt-4 justify-content-center">
		<div class="col-9">
			@using (Html.BeginForm("Edit", "Account", FormMethod.Post))
			{
				@Html.AntiForgeryToken()
				@*@Html.HiddenFor(model => model.UserId)*@

				<div class="form-row">
					@*Email*@
					<div class="col-md-6">
						<div class="form-group">
							@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md" })
							<div class="col-md">
								@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>

					@*MiddleName*@
					<div class="col-md-6">
						<div class="form-group">
							@Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md" })
							<div class="col-md">
								@Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
							</div>
						</div>

					</div>

					@* Resident Country*@
					<div class="col-md-6 ">
						<div class="form-group">
							@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md" })
							<div class="col-md">
								@Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					@*Resident City*@
					<div class="col-md-6 ">
						<div class="form-group">
							@Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { id = "Email", @class = "control-label col-md" })
							<div class="col-md">
								@Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", id = "" })
								@Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>

					@*Mobile Number*@
					<div class="col-md-6 ">
						<div class="form-group">
							@Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label col-md" })
							<div class="col-md">
								@Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
							</div>
						</div>

					</div>

				</div>
				<p class="col-md mb-3 text-center mt-4 ">
					<input type="submit" value="Update Profile" class="btn btn-register shadow-none ">
				</p>
			}

		</div>
	</div>
</div>
