@model GrievanceSystem_Mvc.ViewModels.UserViewModel

<tr>
	<td>
		@Model.UserId
	</td>
	<td>
		@Model.FirstName
	</td>
	<td>
		@Model.MiddleName
	</td>
	<td>
		@Model.LastName

	</td>
	<td>
		@Model.MobileNumber

	</td>
	<td>
		@Model.DateCreated
	</td>
	<td>
		@Model.DateModified
	</td>
	<td>
		@Model.EmailAddress
	</td>
	<td>
		@Model.Role
	</td>
	<td>
		@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
		@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
		@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
	</td>
</tr>
