@model IEnumerable<GrievanceSystem_Mvc.ViewModels.UserViewModel>

@{
	ViewBag.Title = "Users";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container card my-5  container-height ">
	<div class="row p-3">
		<div class="col-md-12">

			<span class="h3">Students</span>
			<a href="@Url.Action("Index","Grievance") " class="btn btn-outline-dark  float-right">
				<span class="px-3 font-weight-bold">
					+ Add Students
				</span>
			</a>

		</div>
	</div>
	<hr />
	<div class="row">
		<div class=" mt-1 col-md-12">
			<p class="lead">All Students</p>
			<table class="table table-responsive table-hover mx-1 ">
				<caption>List of Student</caption>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.UserId)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.FirstName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.MiddleName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.LastName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.MobileNumber)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.DateCreated)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.DateModified)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.EmailAddress)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Role)
					</th>
					<th></th>
				</tr>

				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.UserId)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.FirstName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.MiddleName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.LastName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.MobileNumber)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.DateCreated)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.DateModified)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.EmailAddress)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Role)
						</td>
						<td>
							@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
							@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
							@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
						</td>
					</tr>
				}

			</table>
		</div>
	</div>
</div>












